/* CUSTOM PROPS */
:root {
  --green-color: #5FB4A2;
  --dark-blue: #203A4C;
  --text-color: #33323D;
  --very-light-grey-bg: #fAfAfA;
  --light-grey: #eaeaeb;
  --error-color:  #F43030;
}


/* FONT FACE */
@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/IbarraRealNova-Italic.woff2") format("woff2"),
  url("../fonts/IbarraRealNova-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/IbarraRealNova-Regular.woff2") format("woff2"),
  url("../fonts/IbarraRealNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-ThinItalic.woff2") format("woff2"),
  url("../fonts/PublicSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Thin.woff2") format("woff2"),
  url("../fonts/PublicSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Public Sans", "Ibarra Real Nova", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* BUTTON */
.button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: #f2f2f2;
  text-decoration: none;
  color: var(--text-color);
  overflow: hidden;
  background-color: transparent;
  white-space: nowrap;
}


.button:hover .button__primary .button__icon {
  background-color: var(--green-color);
}

.button__primary {
  width: 100%;
  max-width: 200px;
  padding: 17px;
  padding-bottom: 17px;
  display: flex;
  align-items: center;
  background-color: var(--dark-blue);
  color: #fff;
}

.button__primary:hover {
  background-color: var(--green-color);
}

.button__primary:active {
  opacity: 0.6;
}

.button__icon {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #000;
}

.button__icon-img {
  display: block;
  width: 18px;
  height: 14px;
}

.button__text {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.button__secondary {
  display: inline-block;
  padding: 17px 36px 17px 32px;
  border: 1px solid var(--text-color);

}

.button__secondary:hover {
  background-color: var(--text-color);
  border: 0;
  color: #fff;
}

.button__secondary:active {
  border: 1px solid var(--text-color);
  background-color: #fff;
  color: var(--text-color);
  opacity: 0.2;
}

.button__inner {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
}

.button__icon {
  width: 48px;
}

.button__icon-img {
  width: 18px;
  height: 14x;
}

.button__text {
  display: inline-block;
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}



/* SITE-HEADER */
.site-header {
  padding-top: 64px;
  padding-bottom: 54px;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo {
  display: inline-block;
  width: 60px;
  height: 32px;
  margin-right: 20px;
  color: var(--text-color);
}

.sitenav__list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 42px;
}

.sitenav__link {
  display: inline-block;
  font-family: "Public Sans", "Arial", sans-serif ;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
}

.sitenav__link:hover {
  color: var(--green-color);
}

.sitenav__link:active {
  opacity: 0.6;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* HERO */
.hero {
  position: relative;
  padding-bottom: 150px;
}

.hero__info {
  position: absolute;
  left: 395px;
  bottom: 157px;
  z-index: 555;
  width: 100%;
  max-width: 455px;
  max-height: 358px;
  padding-top: 56px;
  padding-right: 55px;
  background-color: var(--very-light-grey-bg);
}

.hero__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 53px;
  font-family: "Ibarra Real Nova", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.446429px;
  color: var(--text-color);
  }
